/* Root */
:root{
    --color-h2: #e67e22;
    --white: #fff;
    --primary:#7f8c8d;
    --separation-nav-1:#e74c3c;
    --separation-nav-2:#f1c40f;
    --separation-nav-3:#b8e994;
    --separation-nav-4:#2980b9;
    --separation-nav-5:#9b59b6;
}